body {
    font-size: 20px;
    line-height: 2;
    background-image: url("../Images/white-waves/white-waves.png");
}

.mainContent {
    margin: auto;
    width: 960px;
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(230, 230, 230);
    color: rgb(105, 105, 105);
    font-family: Arial, Helvetica, sans-serif;
  
}

.navContainer {
    width: 960px;
}

.navbar {
    margin-bottom: 20px;
    background-color: #ffffff;
}


  
.nav-link {
    padding: 10px;
}



#brand {
    font-size: 28px;
    color: #4aaaa6;
    
}

form {
    margin-top: 20px;
}



#profilePhoto {
    padding: 10px;
    padding-left: 0px;
}

#mainHeader {
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
    color: #4aaaa6;
    
}


#navBottom {
    margin-bottom: 0;
    height: 30px;
}

#navBottomGreen {
    height: 10px;
    background-color: #4aaaa6;
}


textarea {
    width: 100%;
    height: 206px;
}

.btn-primary {
    background-color: #4aaaa6;
}

.portImg {
    padding: 10px;
    padding-bottom: 20px;
    
}

.align-center {
    text-align: center;
    margin: auto;
}

.card {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#pixar-image {
    height: 427px;
}

#twitch-img {
    height: 428px;
}

#train-img {
    height: 427px;
}

#simply-img {
    height: 427px;
}




.link-style {
    color: rgb(105, 105, 105);
   
}

#LinkedIn, #github, #resume, #number, #email {
    margin-bottom: 20px;
    margin-top: 40px;
}

#email {
    margin-bottom: 10px;
}

#number {
    margin-bottom: 10px;
}

#resume {
    margin-bottom: 40px;
}



/* ----------------------------- Start media Screen styling -------------------------------------*/






@media screen and (max-width: 990px) {
    .navContainer {
        width: 80%;
    }
    
    
    .mainContent {
        width: 80%;
    }
}


@media screen and (max-width: 640px) {
    .navContainer {
        width: 80%;
    }
    
    
    .mainContent {
        width: 80%;
        font-size: 18px;
    }

    #mainHeader {
        font-size: 24px;
    }

    
}